:root{
    --pincipalfont: 'Montserrat', sans-serif;
    --cnegro: #0F191C; 
    --cclaro: #E8F1F2;
    --cmorado: #7A007A; 
    --crosa: #BB8588;
}
/* globales */
*{
    font-family: var(--pincipalfont);
}
p{ font-size: 16px;}
h1{ font-size: 25px; }
h2{ font-size: 20px; }
body{ background-color: var(--cclaro); }
/* Navegacion --------------------------------------------------*/

.navegación{
    background-color: var(--cnegro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.navegación img{
    width: 80px;
    height: 80px;
}
.navegación nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navegación nav a{
   color: var(--cclaro);
   text-decoration: none;
   padding: 5px 20px;
}
.sahreicon{
    transform: scale(1.3);
}
/* Portada con su respectivo parallax  ------------------------ */

.portada{
    background-color: var(--cnegro);
    width: 100%;
    height: 900px;
    background-image: url(/img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Introduccion texto e imagen ----------------------------------*/
.intro{
    background-color: var(--cnegro);
    color: var(--cclaro);
    padding: 15px 10%;
    text-align: center;
}
.intro-texto{
    font-weight: 100;
}
/* Plantilla para citas-------------------------------- */
.cita{
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
    align-items: center;
    max-width: 700px;
}
.cita-img{
    border-radius: 50%;
    width: 30%;
    height: 30%;
}
.cita-texto{
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    color: var(--cmorado);
}
.cita-prof{
    font-size: 14px;
    text-align: right;
    font-weight: 400;
}
/* CONTENIDO --------------------------------------------- */
.container{
    padding: 20px 30px;
    max-width: 1000px;
    margin: 0 auto;
}
/* Footer ----------------------------------------------- */
.footer{
    background-color: var(--cnegro);
    color: var(--cclaro);
    padding: 20px 10%;
    text-align: center;
}
.footer a{
    text-decoration: none;
    font-weight: 700;
    font-size: xx-large;
    color: var(--crosa);
}
.images{
    display: flex;
    padding: 0 20%;
    justify-content: space-evenly;
    align-items: center;
}
.alta{
    width: 120px;
    height:  120px;
}
.data{
    width: 100px;
    height:  50px;
}
.capir{
    width: 100px;
    height:  40px;
}